<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
	integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
	crossorigin="anonymous"></script>
<title>Sistema Acadêmico de Alunos</title>
</head>
<body class="bg-dark">
	<div class="container">
		<div class="row">
			<table class="table table-striped table-dark table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Média</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.media}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<form class="form-inline" method="post" th:object="${aluno}"
				th:action="@{/alunos}">
				<div>
					<input class="form-control" type="text" placeholder="Nome"
						th:field="*{nome}" /> <input class="form-control" type="text"
						placeholder="Média" th:field="*{media}" />
					<button class="btn btn-warning" type="submit">Adicionar</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>